SALT=10
SETUP=setup\setup.sh
PORT=<SERVER PORT GOES HERE>
PRIVATEKEY=./keys/jwtRS256.key
PUBLICKEY=./keys/jwtRS256.key.pub
DB=<DATABASE NAME GOES HERE>
DBHOST=<DATABASE URL GOES HERE>
DBUSER=<DATABASE ADMIN USER NAME GOES HERE>
DBPW=<DATABASE ADMIN USER PASSWORD GOES HERE>
DBROOTUSER=<DATABASE ADMIN ROOT USERNAME>
DBROOTPW=<DATABASE ADMIN ROOT PASSWORD>