.imageContainer {
    height: 40vw;
    overflow: hidden;
    top: -0.55em;
    left: 0.4em;

}

.card{
    position: relative;
    /* transform: translate(-50%, -50%);
    max-width: 365px;
    min-height: 100% !important;
    height: 80vh;
    max-height: 240px !important;
    top: -30vh !important; */
    min-height: 100% !important;
    border-style: solid;
    border-width: thick;
    border-color: rgba(30, 80, 80, 0.6)
    
}

.hr{
    height:1px;
    color:gray;
    background-color:gray;
}

.or{
    color: gray;
    font-weight: bolder;
    font-size: 1.3em;
}
