.imageContainer {
    height: 83vh;
    overflow: hidden;
    top: -0.5em;
    left: 0.5em;

}

.card{
    position: relative;
    /* transform: translate(-50%, -50%);
    max-width: 365px;
    min-height: 100% !important;
    height: 80vh;
    max-height: 240px !important;
    top: -30vh !important; */
    min-height: 100% !important;
    border-style: solid;
    border-width: thick;
    border-color: rgba(33, 82, 88, 0.671)
    
}