.container{
    height: 45vh;
    width: 100%;
    overflow: hidden;
    background-color: #084652;

}
.contributorsGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto); 
    grid-gap: 1em 3em;
}
.contributorBox{
    grid-row: 2;
    justify-self: center;
}
.title{
    grid-row: 1;
    justify-self: center;
    margin-top: 1em;
}
.title p{
    color: #DCDCDC;
    font-size:120%;
}
.contributor{
display: inline-block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .title p{
        font-size: 1em;
    }
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .title p {
        font-size: 1em;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .title p {
        font-size: 1.5em;
    }
    .contributor{
        padding-top: 1em;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .title p {
        font-size: 1.2em;
    }

} 
/*Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px){
    .title p {
        font-size: 1.4em;
    }
    .contributor{
        padding-top: 2em;
    }
}
@media only screen and (min-width: 1900px){
    .title {
        font-size: 2em;
    }
    .contributor{
        padding-top: 3em;
    }
}
@media only screen and (min-width: 3800px){
    .title p {
        font-size: 2em;
    }
    .contributor{
        padding-top: 6em;
    }
}




