.hideScrollBar {
    /* this will hide the scrollbar in mozilla based browsers */
    overflow: -moz-scrollbars-none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;
}

.hideScrollBar::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}
