.container {
    background-color: darkgrey;
}

/*******************************
Media Queries Devices(Iphone 6/7/8), , (HD Monitor)
********************************/
@media screen and (max-width: 375px) {
    .container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 3fr 1fr;
    }

    .nav {
        grid-column: span 2;
    }

    .map {
        grid-row: span 3;
        background-image: url('../../miamiMapFaded.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .loginForm {
        grid-row-start: 3;
        grid-column-start: 2;
        background-color: yellow;
    }
}
@media screen and (min-width: 767px) and (max-width: 1920px) {
}
@media screen and (min-width: 1920px) {
}
