.registration {
    position: relative;
    background-image: url('../../src/miamiMap.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 0;
    padding-top: 56.49%; /* (img-height / img-width * container-width) */
    /* (913 / 1616 * 100) */
}

.card {
    position: absolute;
    transform: translate(-50%, -50%);
}
