
.imageContainer {
    height: 60vh;
    overflow: hidden;
}
.card {
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 365px;
    min-height: 100% !important;
    height: 80vh;
    max-height: 240px !important;
    top: -30vh !important;
    
}
/* .card h1 {
    font-size: 130%;
} */

/* Media Queries: To Control the Size of Components */
/* Device: iPhone 6/7/8 */
/*
@media screen and (max-width: 375px) {
    .imageContainer {
        width: 100vw;
    }
    .imageContainer img {
        height: 100% !important;
    }
    .card {
        width: 80vw !important;
        top: -16vh !important;
        font-size: 4vh;
    }
    .card h1 {
        font-size: 2em;
    }
}

@media screen and (min-width: 376px) and (max-width: 3000px) {
    .imageContainer {
        height: 60vh;
        overflow: hidden;
    }
    .imageContainer img {
        position: relative;
    }
    .card {
        width: 25vw !important;
        height: 50vh !important;
        top: -30vh !important;
        font-size: 3vh;
    }
    .card h1 {
        font-size: 2em;
    }
}

@media screen and (min-width: 3001px) {
    .imageContainer {
        height: 50vh;
        overflow: hidden;
    }
    .imageContainer img {
        height: 100 !important;
    }
    .card {
        width: 25vw !important;
        top: -25vh !important;
        font-size: 3em;
    }
    .card h1 {
        font-size: 2em;
    }
}
*/
